.container {
  width: 100%;
  padding-bottom: 80px;
  background-color: #f0f1f6;
}

.content {
  position: relative;
  padding-top: 100px;
}

.middle {
  width: 100%;
  top: -70px;
  height: 150px;
  display: flex;
  flex-direction: row;
  position: absolute;
  padding-left: 100px;
  padding-right: 100px;
  box-sizing: border-box;
}

.boxInput {
  width: 100%;
  border-radius: 10px;
  box-shadow: #a6a6ad;
  background-color: #3a3153;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}

.input {
  width: 75%;
}

.inputButton button {
  background-color: #29d1ce !important;
  color: white;
  width: 150px;
  height: 65px;
  font-size: 15px;
  border-radius: 10px;
  text-transform: none;
}

.error {
  position: absolute;
  top: 110px;
  left: 176px;
  color: red;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.contentbottom {
  display: flex;
  flex-direction: column;
}

.bottomText {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.textOne {
  font-size: 30px;
  font-weight: 500;
}

.textTwo {
  padding-top: 20px;
  color: #a6a6ad;
  width: 40%;
  text-align: center;
}

.bottomCard {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding-top: 70px;
  column-gap: 30px;
  z-index: 999;
  justify-content: center;
  align-items: center;
}

.cardOne {
  width: 27%;
}

.cardTwo {
  width: 27%;
  padding-top: 40px;
}

.cardThree {
  width: 27%;
  padding-top: 80px;
}

.box {
  border-radius: 10px;
  background-color: white;
  position: relative;
}

.rounded {
  display: flex;
  position: absolute;
  top: -50px;
  left: 30px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #3a3153;
}

.nameCard {
  padding-top: 60px;
  padding-left: 20px;
  font-weight: 500;
}

.detailName {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 15px;
  font-weight: 300;
  color: grey;
  padding-bottom: 20px;
}

.line {
  width: 50%;
  height: 10px;
  position: absolute;
  border-radius: 10px;
  top: 200px;
  left: 400px;
  z-index: -1;
  background-color: #31cccd;
}

.paperr {
  width: 75%;
  height: 40%;
}

.result {
  width: 100%;
  min-height: 100px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 15px;
}

.boxResult {
  width: 100%;
  border-radius: 10px;
  box-shadow: #a6a6ad;
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resultOriginalLink {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
}
.resultLeft {
  padding-left: 40px;
  padding-right: 40px;
  width: calc(100% - 170px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.resultRight {
  width: 170px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.resultShortLink {
  color: #29d1ce;
}

.buttonCopy {
  background-color: #29d1ce !important;
  color: white !important;
  font-size: 15px !important;
  border-radius: 20px !important;
  text-transform: none !important;
}

.copiedButton {
  background-color: blue !important;
  color: white !important;
  font-size: 15px !important;
  border-radius: 20px !important;
  text-transform: none !important;
}

.boxResultError {
  width: 100%;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.displayError {
  width: 100%;
  height: 50px;
  color: white;
  font-size: 15px;
  background-color: red;
  font-weight: 700;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.delete {
  background-color: red !important;
  color: white !important;
  font-size: 15px !important;
  border-radius: 20px !important;
  text-transform: none !important;
}

@media only screen and (max-width: 765px) {
  .container {
    width: 100%;
  }

  .middle {
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
  }

  .boxInput {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-height: 160px;
  }
  .paperr {
    width: 70%;
    height: 30%;
  }
  .inputButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputButton Button {
    width: 70%;
    height: 40px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
  .textOne {
    font-size: 26px;
  }
  .textTwo {
    width: 75%;
  }
  .bottomCard {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  .cardOne {
    width: 90%;
  }
  .cardTwo {
    width: 90%;
    padding-top: 0;
  }
  .cardThree {
    width: 90%;
    padding-top: 0;
  }
  .rounded {
    left: 130px;
  }
  .line {
    width: 10px;
    height: 50%;
    position: absolute;
    border-radius: 10px;
    top: 200px;
    left: 185px;
    z-index: -1;
    background-color: #31cccd;
  }

  .result {
    padding-left: 20px;
    padding-right: 20px;
  }

  .boxResult {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
  }

  .resultLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0;
  }

  .resultOriginalLink {
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-bottom: 5px;
  }

  .resultShortLink {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .resultRight {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding-top: 10px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }
  .linee {
    width: 100%;
    color: gray;
  }
  .buttonCopy {
    width: 300px;
  }

  .copiedButton {
    width: 300px;
  }
  .boxResultError {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .displayError {
    min-height: 100px;
    color: white;
    font-size: 15px;
    padding-left: 20px;
  }
  .delete {
    width: 300px;
  }

  .error {
    position: absolute;
    top: 132px;
    left: 75px;
    right: 75px;
    color: red;
    font-size: 8px;
    font-weight: 700;
    font-style: italic;
    justify-content: baseline;
  }
}
