.containerDark {
  width: 100vw;
  height: 100vh;
  background: var(--dark-blue, #1f2632);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background: var(--light-blue, #f5f5f5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxDark {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 332px;
  padding: 47px 48px 72px 48px;
  border-radius: 15px;
  background: var(--dark-grayish-blue, #323a49);
  flex-shrink: 0;
  position: fixed;
}

.box {
  display: flex;
  flex-direction: column;
  width: 540px;
  height: 332px;
  padding: 47px 48px 72px 48px;
  border-radius: 15px;
  background: var(--light-grayish-blue, #f2ead3);
  flex-shrink: 0;
  position: fixed;
}

.rightHeader {
  text-align: right;
}

.fieldIdDark {
  color: var(--neon-green, #52ffa8);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}

.fieldId {
  color: var(--neon-green, #3f2305);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.5px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
}

.fieldContent {
  color: var(--light-cyan, #3f2305);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;
  padding-top: 60px;
}

.fieldContentDark {
  color: var(--light-cyan, #4682a9);
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: center;
  padding-top: 60px;
}

.fieldQoute {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.qoute {
  width: 20px;
  height: 16px;
  flex-shrink: 0;
  bottom: 1px;
  position: absolute;
}

.line {
  position: absolute;
  fill: var(--grayish-blue, #4e5d73);
  width: 444px;
  height: 1px;
  flex-shrink: 0;
}

.fieldGenerate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-top: 360px;
}

button {
  background-color: none;
}

@media (max-width: 768px) {
  .box {
    width: 70%;
  }
  .boxDark {
    width: 70%;
  }
  .fieldContent {
    font-size: 20px;
  }
  .fieldContentDark {
    font-size: 20px;
  }
  .qoute {
    bottom: -5px;
  }
  .fieldQoute {
    width: 330px;
    position: absolute;
  }
  .fieldGenerate {
    position: absolute;
  }
}
