@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.container {
  width: 100%;
  height: 100%;
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 100px;
    .nameNavbar {
      font-weight: 700;
      font-size: 24px;
    }
    .toggleDesktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      .fiturNavbar {
        display: flex;
        flex-direction: row;
        text-align: center;
        color: grey;
        width: 900px;
        column-gap: 20px;
        font-size: 15px;
        padding-left: 20px;
      }
      .navbarLogin {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 20px;
        font-size: 14px;
        .login {
          color: grey;
        }
        .daftar button {
          background-color: #29d1ce;
          color: white;
          font-size: 14px;
          border-radius: 5px;
          text-transform: none;
        }
      }
    }
  }
}

.toggleMobile {
  display: none;
}

.icon {
  display: flex;
}

.mobile {
  display: none;
}

.language {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-top: 10px;
  .menuBahasa {
    display: flex;
    flex-direction: row;
  }
  .menuBahasa img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .listLanguage {
    width: 100px;
    background-color: #29d1ce;
    border-radius: 5px;
    padding: 10px;
    .itemBahasa {
      font-size: 13px;
      justify-content: center;
      align-items: center;
      padding: 10px;
      color: white;
    }
  }
}

@media only screen and (max-width: 765px) {
  .navbar {
    width: 100%;
    padding-left: 0;
  }
  .toggleDesktop {
    display: none;
  }
  .toggleMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: 120px;
  }
  .nameNavbar {
    padding-left: 50px;
  }
  .fitur {
    padding-top: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    font-weight: 500;
  }
  .line {
    width: 100%;
    background-color: grey;
  }
  .masuk {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
    font-weight: 500;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    background-color: #3a3153;
    position: absolute;
    border-radius: 20px;
    margin-left: 20px;
  }
  .daftarMobile {
    background-color: #29d1ce !important;
    width: 80%;
  }
  .language {
    padding-right: 15px;
    padding-top: 0;
  }
  .menuBahasa {
    width: 60px;
  }
}
