.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  padding-top: 20px;
  padding-right: 80px;
}

.countryName {
  text-decoration: underline;
}

.paginationContainer {
  display: flex;
  width: 1280px;
  justify-content: center;
  // margin-top: 5px;
}
@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 30px 20px;
  }
  .paginationContainer {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
