$fontTextField: grey;

.inputSearch {
  padding-top: 10px;
  padding-left: 80px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  width: 400px;
  color: $fontTextField;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.rightHeader {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.color {
  color: white;
}

@media (max-width: 768px) {
  .contentHeader {
    padding: 0;
  }
  .inputSearch {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 20px;
    row-gap: 10px;
  }
  .search {
    width: 100%;
  }
}
