@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #221e2b;
  background-image: url("./assets/images/bg-stars.svg");
  overflow: hidden;
}

.header {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  color: white;
  letter-spacing: 10px;
  text-align: center;
  font-weight: 700;
  padding: 20px;
  height: 100px;
  justify-content: center;
}

.title-header {
  margin-top: 70px;
}

.content {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1rem;
  height: 15rem;
}

.content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.1rem;
}

.content-box {
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.box-top {
  width: 100%;
  height: 200px;
  background-color: #2c2c44;
  border-radius: 12px;
  top: 0;
}

.box-bottom {
  width: 100%;
  border-radius: 12px;
  background-color: #34364f;
  height: 100%;
  bottom: 0;
  box-shadow: 20px;
}

.countdown-box {
  z-index: 1;
  font-size: 100px;
  position: absolute;
  color: #fc5d84;
}

.title {
  color: #8b8aa8;
  letter-spacing: 6px;
}

.footer {
  width: 100%;
  height: 20%;
  background-image: url("./assets/images/pattern-hills.svg");
}

.footer-icon {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  column-gap: 3rem;
}

@media only screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
  .countdown-box {
    font-size: 30px;
  }
  .title {
    letter-spacing: 0;
  }
  .box-top {
    width: 80%;
    height: 50%;
  }
  .box-bottom {
    width: 80%;
    height: 50%;
  }
}
