.container {
  width: 100%;
  background-color: #3a3153;
  position: relative;
}

.contentLast {
  width: 100%;
  height: 200px;
}

.nameContent {
  display: flex;
  position: absolute;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.getStarted button {
  display: flex;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #29d1ce !important;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-transform: none;
}

@media only screen and (max-width: 765px) {
  .nameContent {
    font-size: 25px;
    transform: translate(-50%, -50%);
    font-weight: 700;
    width: 300px;
    text-align: center;
    justify-content: center;
  }
  .getStarted button {
    font-size: 15px;
  }
}
