.container {
  width: 100%;
  background-color: black;
  padding-bottom: 40px;
}

.footer {
  padding-top: 50px;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.footerMid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 40%;
  padding-left: 250px;
  column-gap: 100px;
}

.nameFooter {
  color: white;
  font-size: 30px;
  font-weight: 800;
  margin-top: -10px;
}

.feature {
  color: white;
  font-weight: 700;
}

.resources {
  color: white;
  font-weight: 700;
}

.company {
  color: white;
  font-weight: 700;
}

.social {
  display: flex;
  flex-direction: row;
  padding-left: 300px;
  column-gap: 30px;
}

.featureList {
  color: grey;
  font-size: 13px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

@media only screen and (max-width: 765px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nameFooter {
    display: flex;
    padding-bottom: 20px;
  }
  .footerMid {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    font-size: 15px;
    row-gap: 10px;
    padding-bottom: 30px;
  }
  .social img {
    width: 10px;
  }
  .social {
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
  .featureList {
    font-size: 8px;
  }
}
