.sidepages {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 30px;
}

.content {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  column-gap: 30px;
  flex-wrap: wrap;
}
.description {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.back {
  width: 94px;
}

.backLight {
  background-color: #f0f0f0;
  color: #000;
}

.backDark {
  background-color: #1a1a1a;
  color: #fff;
}

.footerDescription {
  gap: 20px;
}

.boxBorder {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.border {
  display: flex;
  flex-direction: row;
  width: 50px;
  justify-content: center;
  align-items: center;
}

.flag {
  img {
    width: 555px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .flag img {
    width: 100%;
    height: auto;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .boxBorder {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    align-items: baseline;
  }
  .border {
    display: flex;
    flex-direction: row;
  }
  .back {
    margin-left: -60px;
  }
  .nameCountry {
    margin-left: -60px;
  }
}
