@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
$fontHeader: white;

.container {
  width: 100vw;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-color: white;
}

.containerDark {
  width: 100vw;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

.pageUp {
  width: 100%;
  height: 40%;
  background-image: url('@static/images/Assets/images/bg-desktop-light.jpg');
  display: flex;
  align-items: center;
  justify-content: center;
}

.pageUpDark {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('@static/images/Assets/images/bg-desktop-dark.jpg');
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 170px;
  width: 40%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: $fontHeader;
}

.leftHeader {
  letter-spacing: 10px;
  font-weight: 700;
}

.input {
  width: 100%;
}

.display {
  width: 100%;
}

.displayText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  // padding: 0.6rem 1rem;
  font-size: 2px;
  color: black;
}

.displayTextDark {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid;
  // padding: 0.6rem 1rem;
  font-size: 2px;
  color: white;
}

.radioButtonDark {
  color: white;
}

.radioButton {
  color: black;
}
.footerContent {
  width: 100%;
  border-top: 1px solid;
}

.footerMiddle {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.activeItem {
  color: blue; // Add any styles you want for active TODO items here
}

.fontTitle,
.fontTitleCompleted {
  font-size: 22px;
  margin-left: 0.4rem;
  overflow: hidden;
}

.fontTitleCompleted {
  background-color: blue;
  text-decoration: line-through;
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.value,
.valueActive {
  margin-left: 10px;
  font-size: 22px;
}

.valueActive {
  text-decoration: line-through;
}

.nameDragDrop {
  color: grey;
  font-size: 16px;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 200px 20px 0px 30px;
  }

  .footerMiddle,
  .footerLeft,
  .footerDragDrop,
  .clearCompleted {
    font-size: 12px;
  }
}
