.container {
  width: 100%;
}

.contentup {
  display: flex;
  flex-direction: row;
  padding-left: 100px;
}

.contentLeft {
  width: 55%;
  padding-top: 60px;
}

.nameContent {
  font-weight: 800;
  font-size: 80px;
}

.subtittle {
  width: 90%;
}

.contentRight {
  width: 40%;
  padding-bottom: 190px;
  padding-top: 40px;

  img {
    width: 590px;
    height: 550px;
  }
}

.getStarted {
  margin-top: 40px;
}

.getStarted button {
  background-color: #29d1ce !important;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  text-transform: none;
}

@media only screen and (max-width: 765px) {
  .contentup {
    padding-left: 0;
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }
  .contentRight {
    padding-bottom: 0;
    padding-left: 50px;
    width: 100%;
    img {
      width: 300px;
      height: auto;
    }
  }
  .contentLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 100px;
    row-gap: 10px;
  }
  .nameContent {
    font-size: 20px;
  }
  .getStarted button {
    background-color: #29d1ce !important;
    color: white;
    font-size: 10px;
    border-radius: 20px;
    text-transform: none;
  }
}
