@import "@styles/base";

.content {
  @include directionX;
  margin-top: 50px;
  margin-left: 211px;
  margin-right: 232px;
  @include apply-at-sm-size {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    @include directionY;
  }
  .imageProduct {
    @include directionY;
    row-gap: 30px;
    .thumbnail {
      width: 400px;
      height: 400px;
      position: relative;
      @include apply-at-sm-size {
        width: 100%;
        height: 300px;
      }
      .thumbnailPreview {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        @include apply-at-sm-size {
          border-radius: 0;
        }
      }
    }
    .product {
      @include directionX;
      column-gap: 50px;
      @include apply-at-sm-size {
        display: none;
      }
      .thumbnailImage {
        width: 62px;
        height: 62px;
        margin-right: 10px;
        cursor: pointer;
      }
      img:hover {
        opacity: 0.6;
      }
      .thumbnailImage:hover {
        background: white;
      }
      .activeThumbnail img {
        border-radius: 7px;
        opacity: 0.5;
        border: 3px solid $orange;
      }
    }
    .product img {
      border-radius: 7px;
    }
  }
  .description {
    margin-top: 50px;
    margin-left: 130px;
    @include apply-at-sm-size {
      margin-top: 20px;
      margin-left: 30px;
      margin-right: 30px;
    }
    .productCompany {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1.12px;
      text-transform: uppercase;
      color: $orange;
    }
    .productName {
      margin-top: 19px;
      font-size: 44px;
      font-weight: 700;
      color: $very-dark-blue;
      line-height: 48px;
      @include apply-at-sm-size {
        font-size: 30px;
        margin-top: 10px;
      }
    }
    .productDescription {
      margin-top: 35px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
      color: $gray;
      @include apply-at-sm-size {
        margin-top: 10px;
        font-size: 14px;
      }
    }
    .priceMobile {
      @include apply-at-sm-size {
        @include directionX;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
      }
    }
    .price {
      @include directionX;
      column-gap: 10px;
      margin-top: 30px;
      @include apply-at-sm-size {
        margin-top: 0;
      }
      .priceDiscount {
        font-size: 30px;
        font-weight: 700;
        line-height: 26px;
        @include apply-at-sm-size {
          font-size: 25px;
        }
      }
      .box {
        width: 51px;
        height: 27px;
        border-radius: 5px;
        background: var(--pale-orange, #ffede0);
        .discount {
          font-size: 16px;
          font-weight: 700;
          line-height: 26px;
          color: $orange;
          text-align: center;
          @include apply-at-sm-size {
            font-size: 10px;
          }
        }
      }
    }
    .normalPrice {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.48px;
      color: $very-dark-blue;
      @include apply-at-sm-size {
        margin-top: 0;
        font-size: 12px;
      }
    }
    .cartProduct {
      @include directionX;
      column-gap: 10px;
      margin-top: 20px;
      @include apply-at-sm-size {
        @include directionY;
        row-gap: 15px;
      }
      .boxAdd {
        @include directionX;
        justify-content: space-between;
        width: 157px;
        height: 55px;
        align-items: center;
        padding: 10px 16px;
        border-radius: 10px;
        background-color: $ligh-gray;
        @include apply-at-sm-size {
          width: 100%;
        }
        .numberProduct {
          font-size: 16px;
          font-weight: 700;
          letter-spacing: 1.28px;
          color: $black;
        }
      }
      .addCart {
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        cursor: pointer;
        .boxCart:hover {
          background-color: $orange;
        }
        .boxCart:active {
          background-color: $orange;
          box-shadow: 0 1px $white;
          transform: translateY(4px);
        }
        .boxCart {
          @include directionX;
          width: 273px;
          height: 54px;
          padding: 17px 77px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          box-shadow: 0px 8px 10px 0px #ffede0;
          background-color: $orange;
          border-radius: 10px;
          @include apply-at-sm-size {
            width: 100%;
          }
          .imageCart {
            color: white;
          }
          .addToCart {
            font-size: 16px;
            color: $white;
            font-weight: 700;
          }
        }
      }
    }
  }
}
