$navbar-background: white;
$color-name: black;
$font-weight: 800;

.navbar {
  background-color: $navbar-background;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-left: 80px;
  padding-right: 80px;
}
.nameNavbar {
  color: $color-name;
  font-weight: $font-weight;
  font-size: 30px;
}

.button {
  column-gap: 0.5rem;
  color: white;
}

.modeNavbar {
  color: $color-name;
  font-weight: $font-weight;
}

.logoDarkMode {
  width: 20px;
}

.darkMode {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

.darkModeText {
  color: hsl(0, 0%, 100%);
}

@media (max-width: 768px) {
  .navbar {
    padding-left: 17px;
    padding-right: 17px;
  }
  .nameNavbar {
    font-size: 20px;
  }
  .button {
    height: 40px;
    font-size: 20px;
  }
}
