@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  width: 100%;
  background-color: #355b3e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-desktop {
  display: grid;
  grid-template-columns: 45% 55%;
  box-shadow: 0px 72px 80px -48px #223a28;
  background: #ffffff;
  border-radius: 24px;
  height: 80%;
}

.bagian-gambar {
  background-color: #f5dbc4;
  border-radius: 0 24px 24px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ilustrasi {
  width: 635px;
  height: 377px;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 216px;
  height: 48px;
  margin-top: 40px;
  margin-left: 50px;
}

.header img {
  margin-right: 20px;
}

.judul {
  margin: 0;
  color: #355b3e;
  font-family: "Inter", sans-serif;
  font-size: 32px;
}

.content-description {
  width: 370px;
  font-size: 24px;
  color: #355b3e;
  margin-left: 50px;
  margin-top: 40px;
}

.content-3 {
  width: 370px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 10;
  color: #58745e;
  margin-top: 20px;
  margin-left: 50px;
}

.form {
  width: 370px;
  margin-left: 50px;
  margin-top: 25px;
}

.email {
  width: 370px;
  font-family: "Inter", sans-serif;
  color: #2f3d4c;
  font-size: 16px;
}

.input-email {
  width: 100%;
  height: 46px;
  border: 1px solid #b8d6bf;
  margin-bottom: 5px;
  margin-top: 5px;
}

.password {
  width: 370px;
  font-family: "Inter", sans-serif;
  color: #2f3d4c;
  font-size: 16px;
}
.input-password {
  margin-top: 5px;
  width: 100%;
  height: 46px;
  border: 1px solid #b8d6bf;
  padding-right: 30px; /* Add padding on the right side for the hidden password image */
}

.extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #355b3e;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  width: 180px;
  height: 38px;
  border-radius: 8px;
}

.login {
  color: white;
  background-color: #355b3e;
}

.daftar {
  color: #355b3e;
  background-color: #ffffff;
}

.option {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.selection-option {
  color: #58745e;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.selection-list {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.option-list {
  padding-left: 8px;
  padding-right: 8px;
  color: #355b3e;
}

.header-mobile {
  display: none;
}

@media only screen and (max-width: 400px) {
  .header-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #355b3e;
    margin-top: -60px;
  }

  .header-mobile img {
    margin-right: 10px;
  }

  .judul-mobile {
    color: white;
    font-size: 32px;
    font-weight: bold;
  }

  .container-desktop {
    display: flex;
    flex-direction: column;
    border-radius: 0;
  }

  .bagian-gambar {
    order: 1;
    border-radius: 0;
    margin-bottom: 20px;
  }

  .bagian-content {
    order: 2;
    background-color: white;
  }

  .ilustrasi {
    width: 100%;
    height: auto;
  }

  .header {
    display: none;
  }

  .judul {
    font-size: 24px;
    text-align: center;
  }

  .content-description {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -5px;
  }

  .content-3,
  .form,
  .option {
    margin-left: 20px;
    margin-right: 20px;
  }
}
